{% extends 'templates.html' %}
{% block content %}
        <form action="{{ url_for('update') }}" method='post'>
            <fieldset>
            <input type="hidden" name="id" value="{{ movie.id }}">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" id="title" name="title" class="form-control" value="{{ movie.title }}">
            </div>
            <div class="form-group">
                <label for="year">Ano de Lançamento</label>
                <input type="text" id="year" name="year" class="form-control" value="{{ movie.year }}">
            </div>
            <div class="form-group">
                <label for="sinopsis">Sinopse</label>
                <textarea type="text" id="sinopsis" name="sinopsis" class="form-control" rows="5">{{ movie.sinopsis }}</textarea>
            </div>
            <td><a href="{{ url_for('index') }}" type="button" class="btn btn-primary">Voltar</a></td>
            <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
            </fieldset>
        </form>
{% endblock %}
